name: Terraform CI/CD

on:
  push:
    branches:
      - dev
      - staging
      - main
  pull_request:
    branches:
      - staging
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - name: Checkout repo
        uses: actions/checkout@v4

      # Set AWS credentials
      - name: Set AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: us-east-1

      # Setup Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.13.5

      # Determine environment
      - name: Determine environment
        id: env
        run: |
          if [[ "${GITHUB_REF_NAME}" == "dev" ]]; then
            echo "ENV=dev" >> $GITHUB_ENV
          elif [[ "${GITHUB_REF_NAME}" == "staging" ]]; then
            echo "ENV=staging" >> $GITHUB_ENV
          else
            echo "ENV=prod" >> $GITHUB_ENV
          fi
          echo "Using environment: ${{ env.ENV }}"

      # Terraform formatting check
      - name: Terraform Fmt Check
        working-directory: envs/${{ env.ENV }}
        run: |
          echo "Checking Terraform formatting..."
          terraform fmt -check -recursive

      # Terraform Init
      - name: Terraform Init
        working-directory: envs/${{ env.ENV }}
        run: terraform init -input=false

      # Terraform Plan
      - name: Terraform Plan
        working-directory: envs/${{ env.ENV }}
        run: terraform plan -out=tfplan

      # Terraform Apply
      - name: Terraform Apply
        working-directory: envs/${{ env.ENV }}
        run: terraform apply -auto-approve tfplan
